li {
    display: flex;
    flex-direction: column;
    align-items : center;
    background-color: #FFF;
    border-radius: 7px;
    transition: 0.5s;
    text-align: center;
    height: 9rem;
    justify-content: flex-end;
    border: 2px solid black;
}

li:hover {
    scale: 115%;
    cursor: pointer;
}

img {
    position: absolute;
    padding: 0.5em;
    transform: translate(-50%, calc(-130% + 5px));
    object-fit: contain;
}

span {
    color: black;
}

.botoes {
    display: flex;
    gap: 5px;
}

.botao{
    width: 50%;
    border-radius: 5px;
    border: none;
    padding: 5px;
    text-decoration: none;
    margin: 3px 0;
}

.botao:hover {
    scale: 110%;
}

.botao:nth-child(1) {
    background-color: blue;
    color:  white;
}

.botao:nth-child(2) {
    background-color: red;
    color:  black;
}

