.Pokemons {
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
}

.mode {
    position: absolute;
    right: 12%;
    top: 100px;
    background-color: transparent;
    color:  #000;
    width: 3rem;
    height: 3rem;
    transition: 0.5s;
}

.mode:hover {
    cursor: pointer;
    scale: 95%;
}

.sun {
    color: yellow;
}

.moon {
    color: aqua;
}

ul {
    list-style : none;
    display: grid;
    grid-template-columns : repeat(auto-fit , minmax(150px, 1fr));
    column-gap : 3rem;
    row-gap : 4rem;
    justify-items: stretch
}

body {
    background-image: url(../../img/fundobody.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.body-color {
    background-color: aliceblue;
}